{
    "title": "${pageTitle}",
    "type": "crud",
    "name": "${pageCode}Table",
    "api": "post:/admin/page/crudQuery/${pageCode}",
    "syncLocation": false,
    "filter": {
      "title": ["查询条件",
        {
          "type":"button",
          "label":"查询",
          "primary":true,
          "actionType":"submit",
          "className":"m-l"
        },{
          "type":"button",
          "label":"重置",
          "actionType":"reset",
          "className":"m-l"
        },{
          "type":"button",
          "label":"导出Excel",
          "actionType": "url",
          "url":"/admin/page/crudExport/${pageCode}${downloadParam}",
          "className":"m-l"
        }
      ],
      "submitText": "",
      "mode": "horizontal",
      "body":{
        "type":"grid",
        "columns":${queryConfigs}
      }
    },
    "headerToolbar": ${topButtons},
    "bulkActions": ${bulkButtons},
    "footerToolbar": [
        "statistics",
        "switch-per-page",
        "pagination"
    ],
  "autoFillHeight": true,
  "affixHeader":true,
  "perPage":${perPage},
  "perPageAvailable":${perPageAvailable}
}