AMIS_JSON={
    "type": "page",
    "body":{
        "type":"grid",
        "columns":[{
            "md":${width},
            "xs":${width},
            "sm":${width},
            "lg":${width},
            "name":"mainTable",
            "type": "crud",
            "api": "post:/admin/page/crudQuery/${pageCode}",
            "syncLocation": false,
            "filter": {
                "title": "${pageName}<button type='button' onclick='window.location.reload()' style='float:right;position:relative;top:-8px;' class='cxd-Button cxd-Button--sm cxd-Button--default is-active'>刷新页面</button>",
                "submitText": "查询",
                "mode": "horizontal",
                "body":{
                    "type":"grid",
                    "columns":${queryConfigs}
                },
                "actions":[{
                    "type":"button",
                    "label":"查询",
                    "primary":true,
                    "actionType":"submit"
                },{
                    "type":"button",
                    "label":"重置",
                    "actionType":"reset"
                },{
                    "type":"button",
                    "label":"导出Excel",
                    "actionType": "url",
                    "url":"/admin/page/crudExport/${pageCode}${downloadParam}"
                }]
            },
            "itemAction": {
                "type": "action",
                "actionType": "reload",
                "target": "${target}"
            },
            "filterTogglable": true,
            "headerToolbar": ${topButtons},
            "bulkActions": ${bulkButtons},
        },{
            "type":"tabs",
            "md":${tabWidth},
            "xs":${tabWidth},
            "sm":${tabWidth},
            "lg":${tabWidth},
            "tabs":${tabs}
        }]
    }
}