{
    "title": "${pageTitle}",
    "type": "crud",
    "name": "${pageCode}Table",
    "api": "post:/admin/page/crudQuery/${pageCode}",
    "syncLocation": false,
    "filter": {
      "title": ["${pageName}",
        "<button type='button' onclick='window.location.reload()' style='margin-left:10px;;float:right;position:relative;top:-7px;' class='cxd-Button cxd-Button--sm cxd-Button--default is-active'>刷新页面</button>"
      ,{
          "type":"button",
          "label":"导出Excel",
          "actionType": "url",
          "url":"/admin/page/crudExport/${pageCode}${downloadParam}",
          "className":"m-l float-right relative -top-2"
        },{
          "type":"button",
          "label":"重置",
          "actionType":"reset",
          "className":"m-l float-right relative -top-2"
        },
        {
          "type":"button",
          "label":"查询",
          "primary":true,
          "actionType":"submit",
          "className":"m-l float-right relative -top-2"
        }

      ],
      "submitText": "",
      "mode": "horizontal",
      "body":{
        "type":"grid",
        "columns":${queryConfigs}
      }
    },
    "headerToolbar": ${topButtons},
    "bulkActions": ${bulkButtons},
    "footerToolbar": [
        "statistics",
        "switch-per-page",
        "pagination"
    ],
  "autoFillHeight": true,
  "affixHeader":true,
  "perPage":${perPage},
  "perPageAvailable":${perPageAvailable}
}