AMIS_JSON={
    "type": "page",
    "body":{
        "type":"grid",
        "columns":[{
            "name":"mainTable",
            "type": "crud",
            "api": "post:/admin/page/crudQuery/${pageCode}",
            "syncLocation": false,
            "filter": {
                "title": "${pageName}",
                "submitText": "查询",
                "mode": "horizontal",
                "body":{
                    "type":"grid",
                    "columns":${queryConfigs}
                },
                "actions":[{
                    "type":"button",
                    "label":"查询",
                    "primary":true,
                    "actionType":"submit"
                },{
                    "type":"button",
                    "label":"重置",
                    "actionType":"reset"
                },{
                    "type":"button",
                    "label":"导出Excel",
                    "actionType": "url",
                    "url":"/admin/page/crudExport/${pageCode}${downloadParam}"
                }]
            },
            "itemAction": {
                "type": "action",
                "actionType": "reload",
                "target": "childTable?parentId=${id}"
            },
            "filterTogglable": true,
            "headerToolbar": ${topButtons},
        },{
            "name":"childTable",
            "type": "crud",
            "data":{
                "parentId":-1
            },
            "api": "post:/admin/page/crudQuery/${childPageCode}",
            "syncLocation": false,
            "filter": {
                "title": "${childPageName}",
                "submitText": "查询",
                "mode": "horizontal",
                "body":{
                    "type":"grid",
                    "columns":${childQueryConfigs}
                },
                "actions":[{
                    "type":"button",
                    "label":"查询",
                    "primary":true,
                    "actionType":"submit"
                },{
                    "type":"button",
                    "label":"重置",
                    "actionType":"reset"
                },{
                    "type":"button",
                    "label":"导出Excel",
                    "actionType": "url",
                    "url":"/admin/page/crudExport/${childPageCode}${childDownloadParam}"
                }]
            },
            "filterTogglable": true,
            "headerToolbar": ${childTopButtons}
        }]
    }
}