{
    "type": "picker",
    "joinValues": true,
    "valueField": "${page.valueField}",
    "labelField": "${page.labelField}",
    "source": "post:/admin/page/selector/${page.code}?${formField}=$jq${formField}&id=${id}",
    "size": "lg",
    "clearable": true,
    "autoFill": {},
    "pickerSchema": {
        "mode": "table",
        "name": "${page.code}Selector",
        "filter": {
          "title": ["${page.name}",
            {
              "type":"button",
              "label":"查询",
              "primary":true,
              "actionType":"submit",
              "className":"m-l"
            },{
              "type":"button",
              "label":"重置",
              "actionType":"reset",
              "className":"m-l"
            }
          ],
            "submitText": "",
            "mode": "horizontal",
            "body":{
              "type":"grid",
              "columns":${queryConfigs}
            }
        }
    }
}