<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link href="/amis-editor/favicon.ico" rel="icon"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <meta content="#000000" name="theme-color"/>
    <meta content="Web site created using create-react-app" name="description"/>
    <link href="/amis-editor/logo192.png" rel="apple-touch-icon"/>
    <script src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery = $.noConflict();
    </script>
    <script th:src="${js}"></script>
    <script>
        // AMIS_JSON={
        //     type:"page",
        //     title:"我的编辑器",
        //     body:"测试我的编辑器"
        // }
        saveAmis=function(schema){
            jQuery.ajax({
                url:"/admin/custom/saveSchema/[[${code}]]",
                type:"POST",
                data:{
                    schema:JSON.stringify(schema)
                },
                success:function(data){
                    if(data.status == 0){
                        alert("保存成功");
                    }else{
                        alert("保存失败"+data.msg);
                    }
                }
            })
        }
    </script>
    <title>jqp-amis-editor</title>
    <script defer="defer" src="/amis-editor/static/js/main.7fc105ce.js"></script>
    <link href="/amis-editor/static/css/main.e542c24e.css" rel="stylesheet">
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
</body>
</html>